
body {  
  background-image:  url('./forest.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:500px;
  font-family: 'Carrois Gothic SC', sans-serif;
  text-align: center;  
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}



.snow{
	
  font-family: Androgyne;
  background-image:  url('http://i.imgur.com/BiSmXaq.png'), url('http://i.imgur.com/XHuy0NJ.png');
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:1;
  -webkit-animation: snow 11s linear infinite;
  -moz-animation: snow 11s linear infinite;
  -ms-animation: snow 11s linear infinite;
  animation: snow 11s linear infinite;
}
@keyframes snow {
  100%{background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  100%{background-position: 400px 1000px, 200px 400px, -100px 300px;}
}
@-webkit-keyframes snow {
  100%{background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  100%{background-position: 500px 1000px, 200px 400px, -100px 300px;}
}







